/****************************************** 
 * Name: Dean Lorenzo
 * Student number: 0367298
 * Course: Web Development - 2008 (228566)
 * Assignment: Project
 * Created: Nov 12, 2022
 * Updated: Nov 12, 2022 
 ******************************************/ 
body{
    background-color: #f6e5dd;
} 

ul{
    list-style: none;    
}

.top-nav-li{
    display: inline-block;
}

.top-nav-search{
    display: inline-block;
}

.top-logo{
    width: 7em;
}
